main{
    height: 80%;
}

.users-table table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

a{
    text-decoration: none;    
}


a:hover {
  background-color: rgb(255, 255, 255);
}


table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 4px;
}

table th{
    padding: 16px;
    text-align: center;
    font-size: .85em;
}

.users-table--delete{
    text-decoration: none;
    color: #fff;
    padding: 6px;
    border: 1px solid ;
    border-radius: 4px;
    font-weight: bold;
    background-color: #921010;
    transition: background-color .3s;
}


.users-table--delete:hover{
    background-color: #fff;
    color: #061736;
}

.users-table--edit{
    text-decoration: none;
    color: #fff;
    padding: 6px;
    border: 1px solid ;
    border-radius: 4px;
    font-weight: bold;
    background-color: #10923b;
    transition: background-color .3s;
}


.users-table--edit:hover{
    background-color: #fff;
    color: #061736;
}