@media only screen and (max-width: 950px) {
  body{
    font-size: 14px;
  }
  th, td {
    display: block;
    width: 100%;
  }
  
  th {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .nav{
    display: none;
  }

  .header-menu--bar{
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .nav{
    display: none;
  }

  .formulario-inputs-content{
    grid-template-columns: 1fr;
  }

  .formulario-buttons{
    gap: 0.5em;
  }
}